# **Read data from JSON**

In [ ]:
fd = open("record.json",'r')
r = fd.read()
fd.close()

In [ ]:
import json
record = json.loads(r)

In [ ]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100}}

In [ ]:
prod_id = str(input("Enter product id : "))
name = str(input("Enter name : "))
pr = str(input("Enter price : "))
qn = str(input("Enter quantity: "))

record[prod_id] = {'name' : name, 'pr' : pr, 'qn' : qn}

Enter product id : 1003
Enter name : milk
Enter price : 56
Enter quantity: 67

In [ ]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'milk', 'pr': '56', 'qn': '67'},
 '1004': {'name': 'bread', 'pr': '69', 'qn': '40'},
 '1005': {'name': 'butter', 'pr': '80', 'qn': '60'}}

# **Add New Item into Inventory**

In [ ]:
prod_id = str(input("Enter product id : "))
name = str(input("Enter name : "))
pr = str(input("Enter price : "))
qn = str(input("Enter quantity: "))

record[prod_id] = {'name' : name, 'pr' : pr, 'qn' : qn}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id : 1020
Enter name : toothpaste
Enter price : 30
Enter quantity: 99

In [ ]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'milk', 'pr': '56', 'qn': '67'},
 '1004': {'name': 'bread', 'pr': '69', 'qn': '40'},
 '1005': {'name': 'butter', 'pr': '80', 'qn': '60'},
 '1006': {'name': 'pasta', 'pr': '100', 'qn': '50'},
 '1007': {'name': 'biscuits', 'pr': '90', 'qn': '80'},
 '1008': {'name': 'fruits', 'pr': '97', 'qn': '56'},
 '1009': {'name': 'vegetables', 'pr': '80', 'qn': '60'},
 '1010': {'name': 'cake', 'pr': '79', 'qn': '40'},
 '1011': {'name': 'drink', 'pr': '78', 'qn': '70'},
 '1012': {'name': 'pen', 'pr': '50', 'qn': '90'},
 '1013': {'name': 'pencil', 'pr': '78', 'qn': '56'},
 '1014': {'name': 'books', 'pr': '99', 'qn': '37'},
 '1015': {'name': 'chocolates', 'pr': '90', 'qn': '70'},
 '1016': {'name': 'bevarages', 'pr': '89', 'qn': '45'},
 '1017': {'name': 'phone', 'pr': '99', 'qn': '100'},
 '1018': {'name': 'bag', 'pr': '89', 'qn': '50'},
 '1019': {'name': 'shoe', 'pr': '79', 'qn': '88'},
 '1020': {'name': 'toothpaste', 'pr': '30', 'qn': '99'}}